#car1{
    border: 1px solid black;
}

#car1 {
    border: 5px solid pink;
    animation-iteration-count: 1;
}

@keyframes race {
    0%{transform: translateX(0);}
    100%{transform: translateX(500px);}
}